<div class="sign-up-container bg-base-200 p-8 rounded-lg">
    <h2 class="text-2xl font-bold mb-6">Sign Up</h2>
    <form (submit)="onSubmit(signUpForm)" #signUpForm="ngForm">
        <div class="form-group mb-4">
            <label for="email" class="block mb-1 text-sm font-bold">Email address</label>
            <input
                type="email"
                id="email"
                name="email"
                [(ngModel)]="user.email"
                required
                class="input input-bordered w-full px-4 py-2 focus:ring-offset-1 focus:ring-2 focus:ring-primary focus:border-transparent"
                placeholder="you@example.com"
            />
        </div>
        <div class="form-group mb-4">
            <label for="password" class="block mb-1 text-sm font-bold">Password</label>
            <input
                type="password"
                id="password"
                name="password"
                [(ngModel)]="user.password"
                required
                class="input input-bordered w-full px-4 py-2 focus:ring-offset-1 focus:ring-2 focus:ring-primary focus:border-transparent"
                placeholder="Create a password"
            />
        </div>
        <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-primary w-full px-4 py-2 font-bold">
            Sign Up
        </button>
    </form>
</div>
